html {
  background-color: #012a36;
  color: #ffffff;
  font-family: georgia, serif;
}

h1 {
  font-size: 50px;
  margin: 75px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

p a {
  color: #ffffff;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
