html {
  background-color: #012a36;
  color: #ffffff;
  text-align: center;
  font-family: georgia, serif;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

p a {
  color: #ffffff;
  font-size: 14px;
}

ul {
  list-style-type: none;
}
