html {
  background-color: #012a36;
  color: #ffffff;
  font-family: georgia, serif;}

h1 {
  font-size: 25px;
  margin: 100px;
  text-align: center;}

h2 {
  font-size: 18px;}

p a {
  color: #ffffff;
  font-size: 14px;}

  ul {
    list-style-type: none;}
